html{
    background: linear-gradient(rgb(63, 131, 231), darkblue );
    width: 1500px;
}

body{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 400px;

}

main{
    background-color: white;

}

h2{
    padding: 70px;
    font-size: 2.5em;
    font-weight: bolder;
    color: rgb(5, 3, 145);
    font-family: 'Oswald', sans-serif;

}

h3{
    padding: 35px;
    font-size: 1.25em;
    font-weight: bolder;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}

p{
    font-family: 'Roboto Mono', monospace;

}

.cadre{
    border: 2px rgba(133, 7, 7, 0.829) solid;
    background-color: rgb(192, 188, 188);
    border-radius: 25px;
    padding : 20px 25px;

}
/* --------------------------------------------------------------------------- */

header, footer{
    background-color: white;

}

.contact{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px;
    padding: 15px;

}

.envelloppe, .telephone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

.envelloppe-logo{
    width: 40px;
    height: 40px;

}

.telephone-logo{
    width: 40px;
    height: 40px;

}

/* --------------------------------------------------------------------------- */
.titre{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.titre p{
    width: 20%;
    margin-left: 200px;
    padding-top:150px ;
    font-size: 4.5em;
    color: rgb(5, 3, 145);
    font-family: 'Oswald', sans-serif;
}

.florent-img{

    width: 580px;
    height: 375px;
    border-radius: 10%;
    box-shadow: 47px 66px 80px rgba(0, 0, 0, 0.76);

    margin-left: 350px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 150px;
}

nav{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 115px;
    position: sticky;
    top: 0px;

}

nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 600;
    font-family: 'Roboto Mono', monospace;

}

nav a:hover{
    color: white;
    background: black;

    border: 2px black solid;
    border-radius: 15px;
    box-shadow:
    29px 27px 80px rgba(0, 0, 0, 0.93);

    padding: 5px;

}
/* --------------------------------------------------------------------------- */
.texte-a-propos{
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px 25px;

    font-size: 1em;
}
/* --------------------------------------------------------------------------- */
.texte-experience{
    margin: 10%;
    padding: 25px;
    font-size: 1em;

}

.texte-experience-petit{
    font-size: 0.75em;
    font-weight: 900;

    padding-bottom: 15px;
    padding-top: 15px;

}

.lieu{
    font-style: italic;
    font-size: 1em;
    color: rgb(3, 83, 83);

    padding-bottom: 10px;
    padding-top: 10px;

}

.date{
    text-decoration: underline;
    color: rgb(1, 51, 51);
}
/* --------------------------------------------------------------------------- */
.formation{
    display: flex;
    flex-direction: row;

}

.formation-scolaire{
    margin-left: 100px;
}

.formation-scolaire p{
    padding: 10px;

}

.formation-autre{
    margin-left: 100px;

}

.formation-autre p{
    font-size: 1.5em;
    text-decoration: underline;
    font-weight: bolder;
    color: black;

}

.formation-autre ul{
    font-size: x-large;
    font-family: 'Roboto Mono', monospace;
    margin-top:15%;
    color: rgb(70, 14, 14);

}
/* --------------------------------------------------------------------------- */
.interet{
    display: flex;
    flex-direction: row;


}

.interet ul{
    width: 12%;
    height: 200px;
    font-family: 'Roboto Mono', monospace;
    color: rgb(70, 14, 14);

    margin-top: 50px;
    margin-left: 125px;
    margin-bottom: 50px;
    margin-right: 125px;

    padding-left: 55px;
    padding-top: 45px;

}

.interet li{
    padding: 5px;

}

.interet img{
    width: 270px;
    height: 395px;

    margin: 0px 50px 50px 150px;

    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.376),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.554),
    100px 100px 80px rgba(0, 0, 0, 0.93);
    border-radius: 35px;

}

.run-paquet{
    width: 700px;
    height: 440px;

    margin-left: 18%;
    margin-top: 10%;
    margin-bottom: 10%;

    border-radius: 15px;
    box-shadow:
    2.3px 3.6px 2.7px rgba(0, 0, 0, 0.288),
     5.7px 9px 6.9px rgba(0, 0, 0, 0.413),
    11.7px 18.4px 14.2px rgba(0, 0, 0, 0.517),
    24.1px 38px 29.2px rgba(0, 0, 0, 0.642),
    66px 104px 80px rgba(0, 0, 0, 0.93)
;

}